﻿* {
    box-sizing: border-box;
}

#form1{
    display:flex;
}


.main-form {
    margin: auto;
    margin-top: 150px;
    width: 400px;
    height: 340px;
    padding: initial initial initial 100px;
}

.form-login {
    width: 400px;
    height: 340px;
    background: #4e4d4d;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    color: white;
    border-radius: 12px;
}

    .form-login h5 {
        margin: 0;
        text-align: center;
        height: 40px;
        margin-bottom: 30px;
        border-bottom: 1px solid;
        font-size: 20px;
    }


.form-signup {
    width: 400px;
    height: 390px;
    background: #4e4d4d;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    color: white;
    border-radius: 12px;
}

    .form-signup h5 {
        margin: 0;
        text-align: center;
        height: 40px;
        margin-bottom: 30px;
        border-bottom: 1px solid;
        font-size: 20px;
    }

body {
    font-family: arial;
}

.controls {
    width: 100%;
    border: 1px solid #11ceb8;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #252323;
    font-size: 14px;
    font-weight: bold;
    color: white;
    border-radius: 12px;
}

.buttons {
    width: 100%;
    height: 40px;
    background: #11ceb8;
    border: none;
    color: white;
    margin-bottom: 16px;
    border-radius: 12px;
}

    .buttons:hover {
        cursor: pointer;
    }

.form-login p {
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
}

.form-login a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

    .form-login a:hover {
        text-decoration: underline;
    }


.form-signup a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}



.section-buttons {
    width:400px;
    padding 10px;
    display:flex;
}


.section-line {
    margin-left: 500px;
    margin-top: 50px;
    width: 50px;
    height: 100px;
}


.vertical-line{
    height:600px;
    border-left: 3px solid black;
}

.logo {
    margin-left: 150px;
    margin-top:250px;
    width: 50px;
    height: 100px;
}
